<!DOCTYPE html>
<html>
<head>
  <title>DockerExampleRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

  <hr>
  <h1>From <%= ENV["COLOR"].blank? ? "blue" : ENV["COLOR"] %> container</h1>
</body>
</html>
